.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color:white;
  padding: 1rem;
  border: 1px solid #ccc;
	min-height: 70vh;
}
.toolbar-class {
  border: 1px solid #ccc;
}